{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
        <div class="container">
            <form method="post" class="mx-auto mt-4 form-sigin">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <h1 class="h2">Veuillez vous identifier</h1>
                <label class="visually-hidden" for="inputUsername">Identifiant</label>
                <input type="text" value="{{ last_username }}" placeholder="Identifiant" name="username"
                       id="inputUsername" class="form-control mb-2" autocomplete="username" required autofocus>
                <label class="visually-hidden" for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" placeholder="Mot de passe"
                       class="form-control mb-2" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
                #}
                <div class="d-grid gap-2">
                    <input type="submit" name="submit" class="btn btn-primary btn-block mb-2" value="Connexion">
                </div>
            </form>
        </div>
{% endblock %}
