<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{{ asset('build/images/orange-logo.svg') }}" width="50" height="50" role="img" alt="Boosted">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('index') }}">PIZ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('index') }}">Accueil</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {{ app.request.get('_route') == 'folders_index' ? 'active' }}"
                       href="#" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Pilotage
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{{ path('folders_index') }}">Portefeuille ZLIN</a></li>
                    </ul>
                </li>
                {% if is_granted('ROLE_CONFIGURATION') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {{ app.request.get('_route') == 'admin_users' ? 'active' }}"
                           href="#" id="navbarDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Configuration
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{{ path('activities_index') }}">Activités</a></li>
                            <li><a class="dropdown-item" href="{{ path('do_index') }}">DO</a></li>
                            <li><a class="dropdown-item" href="{{ path('ui_index') }}">UI</a></li>
                            <li><a class="dropdown-item" href="{{ path('zones_index') }}">Zones</a></li>
                            <li><a class="dropdown-item" href="{{ path('etr_index') }}">ETR</a></li>
                            <li><a class="dropdown-item" href="{{ path('mob_department_index') }}">Make or Buy</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {{ app.request.get('_route') == 'admin_users' ? 'active' }}"
                           href="#" id="navbarDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Administration
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{{ path('admin_users_index') }}">Utilisateurs</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
                {% if app.user %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            {{ app.user.lastname|upper }} {{ app.user.firstname|capitalize }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item"
                               href="{{ path('change_password') }}">Changer mon mot de
                                passe</a>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ path('app_login') }}" class="nav-link">Connexion</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% if is_granted('IS_IMPERSONATOR') %}
    <div class="row">
        <div class="col-md-12 d-flex justify-content-end">
            <a href="{{ impersonation_exit_path(path('admin_users_index') ) }}" class="btn btn-warning">Se déconnecter
                du compte {{ app.user.userIdentifier }}</a>
        </div>
    </div>
{% endif %}