<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>PIZ {% block title %}!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {{ render(controller(
            'App\\Controller\\Template\\NavbarController::nav'
        )) }}
        <main>
            <div class="container{% block container_class %}{% endblock %} mt-2">
                <div class="row">
                    <div class="col-md-12">
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
                {% block body %}{% endblock %}
            </div>
        </main>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        {% endblock %}
    </body>
</html>
