<form method="post" class="d-inline" action="{{ path('admin_users_delete', {'id': user.id}) }}"
      onsubmit="return confirm('Êtes-vous sur de vouloir supprimer l\'utilisateur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-danger btn-sm">Supprimer</button>
</form>
