{{ form_start(form, {'attr':{'class':'mt-4'}}) }}
<div class="row">
    <div class="col-md-4">
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.manager) }}
        {{ form_row(form.active) }}
        <div class="d-grid gap-2">
            {{ form_row(form.submit, {'label': button_label}) }}
        </div>
    </div>
    <div class="offset-md-4 col-md-4">
        {{ form_label(form.cuid) }}
        {{ form_widget(form.cuid, (button_label  is same as ('Mettre à jour')) ? {'attr':{'readonly':true}} : {} ) }}
        {{ form_row(form.password) }}
        {{ form_row(form.roles) }}
    </div>
</div>
{{ form_end(form) }}
