{% extends 'base.html.twig' %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Changement de mot de passe</li>
        </ol>
    </nav>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="form-group">
                {{ form_row(form.password) }}
            </div>
            {{ form_row(form.submit) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

