{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Administration</li>
            <li class="breadcrumb-item active" aria-current="page">Utilisateurs</li>
        </ol>
    </nav>

    <a class="btn btn-primary btn-sm" href="{{ path('admin_users_new') }}">Créer un compte</a>

    <table class="table">
        <thead>
        <tr>
            <th>Cuid</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Actif</th>
            <th>Email</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.userIdentifier }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.active ? 'Oui' : 'Non' }}</td>
                <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                <td>
                    {% if app.user != user %}
                        <a href="?_switch_user={{ user.userIdentifier }}" class="btn btn-warning btn-sm">Switcher de
                            compte</a>
                    {% endif %}
                    <a href="{{ path('admin_users_edit', {'id': user.id}) }}"
                       class="btn btn-success btn-sm">Modifier</a>
                    {% if app.user != user %}
                        {{ include('user/_delete_form.html.twig', {user: user}) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
