{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Administration</li>
            <li class="breadcrumb-item"><a href="{{ path('admin_users_index') }}">Utilisateurs</a></li>
            <li class="breadcrumb-item active" aria-current="page">Nouvel utilisateur</li>
        </ol>
    </nav>

    {{ include('user/_form.html.twig', {'button_label': 'Créer'}) }}
{% endblock %}